<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- Skier Read Servlet (POST)-->
    <servlet>
        <servlet-name>SkierServlet</servlet-name>
        <servlet-class>writeservlet.SkierWriteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SkierServlet</servlet-name>
        <url-pattern>/skiers/*</url-pattern>
    </servlet-mapping>

    <!-- Skier Read Servlet (GET)-->
    <servlet>
        <servlet-name>SkierReadServlet</servlet-name>
        <servlet-class>readservlet.SkierReadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SkierReadServlet</servlet-name>
        <url-pattern>/skiers/read/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>context.ContextListener</listener-class> <!-- this is only for read servlet -->
    </listener>
</web-app>